.shuuseiButton {
    width: 20vw;
    font-size: 5vw;
}

#testKubun {
    /*margin-right: 3vw;
    width: 3vw;
    height: 3vw;*/
    font-size: 5vw;
}

.nextButton {
    margin-left: 40vw;
}

.buttonPane{
    margin-top: 4vw;
}

#userName {
    position: absolute;
    top: 15px;
    right: 5vw;
    font-size: 4vw;
}

.koumokuLeftMargin {
    margin-left: 10vw;
}

.kyoukaMokuhyo {
    width: 14vw;
    text-align: right;
}

.tanni {
    vertical-align: middle;
}

.kakuninKoumku {
    color: blue;
}

.mokuhyoSpan {
    display: inline-block;
    width: 14vw;
    text-align: right;
}