html,
body {
    background: url(./../images/bg_green.jpg) fixed #9acd32 right top repeat-y;
}

.ui-dialog-title {
    color: #04AD57;
}


/*コンテンツ内共通ボタン設定*/


/*グラデーションはわずかに濃い色から薄い色へ*/

.contentsButton,
.ui-button {
    background: #20A64F !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#20A64F), to(#68E634)) !important;
    background: -webkit-linear-gradient(top, #20A64F, #68E634) !important;
    background: -moz-linear-gradient(top, #20A64F, #68E634) !important;
    background: -ms-linear-gradient(top, #20A64F, #68E634) !important;
    background: -o-linear-gradient(top, #20A64F, #68E634) !important;
    background: linear-gradient(top, #20A64F, #68E634) !important;
}


/*マウスオーバー時は薄い背景に濃い文字*/

.contentsButton:hover,
.ui-button:hover {
    background: #D2FFD2 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#D2FFD2), to(#64FF64)) !important;
    background: -webkit-linear-gradient(top, #D2FFD2, #64FF64) !important;
    background: -moz-linear-gradient(top, #D2FFD2, #64FF64) !important;
    background: -ms-linear-gradient(top, #D2FFD2, #64FF64) !important;
    background: -o-linear-gradient(top, #D2FFD2, #64FF64) !important;
    color: #177939 !important;
}


/*コンテンツ内モーダルウィンドウ共通設定*/

.ui-dialog {
    border: 6px solid #04AD57;
}


/* 表示エリア */

#viewArea {
    /* baseinfoのheight分下げる */
    top: 40px;
    border: 4px ridge #31B404;
}


/*テーブル*/

.tableHead {
    background-color: #F5D7BC;
    padding-right: 17px;
}

.tHeadView {
    background-color: #F5D7BC;
    color: #272727;
}

.tBodyView tr:nth-child(even) {
    background-color: #ebebeb;
}


/*テキスト、画像表示*/

#textContents,
#imageContents {
    position: absolute;
}

#textContents {
    padding: 60px 80px 0px 80px;
    font-size: 30pt;
    min-width: 100%;
    min-height: 100%;
    /* IMEの設定（IEのみ） */
    ime-mode: active;
}

#imageContents {
    /*大枠ではイベントを発生させない*/
    /*    pointer-events: none;*/
    /*    position: relative;*/
    /*    margin: auto;*/
    /*    top: 0px;*/
    /*    right: 0px;*/
    /*    bottom: auto;*/
    /*    left: 0px;*/
    /*    min-width: 100%;*/
    /*    min-height: 100%;*/
}

#imageContents img[name="gazou"] {
    border: none;
}


/*穴あき*/

.anaaki {
    border: 1px solid #008000;
}

.anaInvisible {
    color: rgba(0, 0, 0, 0);
}

.anaVisible {
    color: #ff0000;
}


/*リンク*/

.hyperLinkArea {
    color: #00f !important;
    border-bottom: 1px solid #00f !important;
}

.blueLine {
    border: 1px solid #00f !important;
}

.blueLine.ui-resizable {
    border: none !important;
}


/*付箋*/

.fusen_on {}

.fusen_off {}

#imageContents img[name="fusen"] {
    z-index: 99;
}


/*画像*/

#imageContents .ui-widget-content {
    background: transparent !important;
}