body {
    background: url(./../common/images/anaumekun_bg.jpg) center center no-repeat;
    background-size: cover;
}

#topIcon {
    position: absolute;
    margin: auto;
    top: 25%;
    right: 0;
    bottom: auto;
    left: 0;
    cursor: pointer;
}

.itemBox {
    margin: 2px auto;
    text-align: center;
    height: 25px;
    width: 100%;
}

.itemName,
.itemInput {
    display: inline-block;
}

.itemName {
    width: 100px;
    text-align: center;
    font-weight: bold;
}

.itemInput {
    display: inline-block;
    width: 140px;
}