.btnBase {
    width: 10vw;
    font-size: 1.5vw;
}

.btnPane {
    margin-left: 50vw;
}

.gakunenClassPane {
    margin-top: 1.5vw;
    margin-left: 6vw;
    font-size: 1.5vw;
}

.kyoukaPane {
    margin-top: 1.5vw;
    margin-left: 6vw;
    font-size: 1.5vw;
}

.kakuninText {
    color: blue;
}