

#insertQuestion {
    width: 65vw;
}

.addQuestionPane {
    margin-left: 6vw;
}

.validationPane {
    color: red;
    font-size: 1.5vw;
    margin-left: 6vw;
    display: none;
}

.addQuestionPane * {
    font-size: 1.5vw;
}

.nextButtonPane {
    margin-left: 76.5vw;
}
