/* 初期設定追加・変更 */

html,
body {
    background-image: url(../images/bg_green.jpg);
    background-position: right top;
    background-repeat: repeat-y;
    background-color: #9acd32;
}

#contents {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: auto;
    left: 0px;
    width: 97%;
    height: 100%;
    padding-top: 20px;
    min-width: 1360px;
}

#menu {
    margin: 0 0 5px 5px;
    font-size: 12pt;
}

#menu ul li {
    display: inline;
}


/*基本情報全体*/

#basicInfo {
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 36px;
    background-color: #FFF;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4) inset;
    margin:0 auto;
    padding: 9px 0 0 10px;
}


/*基本情報枠*/

#basicInfo div {
    padding: 0 8px 0 5px;
    display: inline;
}

#headImg {
    position: absolute;
    margin: auto;
    top: 8px;
    right: 10px;
    bottom: auto;
    left: auto;
    display: inline-block;
    height: 24px;
    font-size: 0;
}

#headImg img {
    margin: 0 1px;
}


/*検索結果場所*/

#questionBox {
    height: 90%;
    border: 4px ridge #31B404;
    background-color: #FFFFFF;
    padding: 0 10px;
}


/*検索情報*/

#group {
    width: 70px;
}

#school {
    width: 100px;
}

#grade {
    width: 70px;
}

#curriculum {
    width: 70px;
}

#unit {
    width: 100px;
}

#title {
    width: 220px;
}

#author {
    width: 110px;
}


/*操作ボタン*/

#img_kensaku {
    position: absolute;
    margin-left: 10px;
    top: 5px;
}

/*テーブル*/

.tableHeader,
.tableBody {
    padding: 0 -10px;
}

#questionBox {
    position: relative;
}

#questionBox > img {
    position: relative;
    z-index: 1;
}

#questionBox h1 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #32B24F;
    text-align: center;
    padding: 5px;
}

#table01 {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 90px;
}

#table01 table {
    border-collapse: collapse;
    width: 100%;
}

.tableHeader {
    padding-right: 17px;
    background-color: #F4E682;
}

.tableHeader tr {
    height: 25px;
    font-size: 11pt;
}

.tableBody {
    position: absolute;
    width: 100%;
    top: 115px;
    bottom: 0px;
    overflow-y: scroll;
}

.tableHeader th,
.tableBody td {
    border: solid 1px #a8a8a8;
}

.tableBody tr:nth-child(2n) {
    background: #ededed;
}


/*選択*/

.tableHeader th:nth-child(1),
.tableBody td:nth-child(1) {
    width: 4%;
    text-align: center;
}


/*種別*/

.tableHeader th:nth-child(2),
.tableBody td:nth-child(2) {
    width: 5%;
    text-align: center;
}


/*学校*/

.tableHeader th:nth-child(3),
.tableBody td:nth-child(3) {
    width: 8%;
    text-align: center;
}


/*学年*/

.tableHeader th:nth-child(4),
.tableBody td:nth-child(4) {
    width: 5%;
    text-align: center;
}


/*教科*/

.tableHeader th:nth-child(5),
.tableBody td:nth-child(5) {
    width: 5%;
    text-align: center;
}


/*単元*/

.tableHeader th:nth-child(6),
.tableBody td:nth-child(6) {
    width: 18%;
    padding: 0 10px;
}


/*タイトル*/

.tableHeader th:nth-child(7),
.tableBody td:nth-child(7) {
    width: 18%;
    padding: 0 10px;
}

/*ソート可能ヘッダ*/

.canSortHeader {
    cursor: pointer;
}

.canSortHeader:hover{
    background-color: silver;
}

/*データ列*/

.data:hover{
    background-color: silver !important;
}

/*作成者*/

.tableHeader th:nth-child(8),
.tableBody td:nth-child(8) {
    width: 9%;
    text-align: center;
}


/*頁数*/

.tableHeader th:nth-child(9),
.tableBody td:nth-child(9) {
    width: 6%;
    text-align: center;
}


/*共有範囲*/

.tableHeader th:nth-child(10),
.tableBody td:nth-child(10) {
    width: 6%;
    text-align: center;
}


/*作成日時*/

.tableHeader th:nth-child(11),
.tableBody td:nth-child(11) {
    display:none;
    width: 8%;
    text-align: center;
}


/*更新日時*/

.tableHeader th:nth-child(12),
.tableBody td:nth-child(12) {
    display:none;
    width: 8%;
    text-align: center;
}
