html,
body,
div,
ul,
ol,
li,
p {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

html,
body {
    height: 100%;
    letter-spacing: 1px;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', sans-serif;
    /* コンテナースタイル追加・変更 */
    background-image: url(../images/bg_green.jpg);
    background-position: right top;
    background-repeat: repeat-y;
    background-color: #9acd32;
}

#contents {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    width: 97%;
    height: 100%;
    min-width: 1360px;
}

#menu {
    padding-top: 8px;
    padding-bottom: 3px;
}

#menuContent {
    text-align: center;
}

#menuContent img {
    margin-right: 20px;
}

#modoruButton {
    transform: scale(2,1.5);
    margin-left: 40px !important;
    margin-right: 60px !important;
}

#susumuButton {
    transform: scale(2,1.5);
    margin-right: 40px !important;
}

#headImg {
    position: absolute;
    margin: auto;
    top: 12px;
    right: 10px;
    bottom: auto;
    left: auto;
    display: inline-block;
    height: 24px;
    font-size: 0;
}

#leftYajirusi {
    position: absolute;
    margin: auto;
    top: 12px;
    left: 10px;
    bottom: auto;
    left: auto;
    display: inline-block;
    height: 24px;
    font-size: 0;
}

#headImg img {
    margin: 0 1px;
}

#questionBox {
    height: 91%;
    border: 4px ridge #31B404;
    background-color: #FFFFFF;
}

#questionArea {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#textContents {
    padding: 60px 80px 0px 80px;
    font-size: 30pt;
    text-align: justify;
    min-width: 90%;
    min-height: 90%;
    /* IMEの設定（IEのみ） */
    ime-mode: active;
}

.verticalWriting#questionArea {
    direction: rtl;
}

.verticalWriting#textContents {
    writing-mode: tb-rl;
    font-family: 'HG教科書体';
    overflow-y: hidden;
}

#imageContents {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    min-width: 90%;
    min-height: 90%;
}

/*
#imageContents * {
    position: relative;
    z-index: 3;
}
*/

#imageContents * {
    z-index: 3;
}

#fusenContents * {
    position: absolute;
    z-index: 4
}

#audioContents * {
    position: absolute;
    z-index: 3;
}

.verticalWriting#imageContents {
    transform: translate(100%, 0px);
    z-index: 5;
}

#textContents .hyperLinkArea,
#textContents .fileLink {
    color: blue;
    border-bottom: 1px solid blue;
}

#imageContents .hyperLinkArea {
    border: 1px solid blue;
}

.anaaki {
    /*    color: rgba(0, 0, 0, 0);*/
    border: 1px solid #008000;
}

.anaInvisible {
    color: rgba(0, 0, 0, 0);
}

.anaVisible {
    color: #ff0000;
}


/* フォームセレクト天地ズレを修正 */

select {
    position: relative;
    top: -8px;
}

.chousei {
    position: relative;
    top: -6px;
}

a {
    text-decoration: none;
}

#pageLength {
    position: relative;
    top: -6px;
}


/* 作成エリア内レイヤー設定 */

#textContents {
    position: relative;
    z-index: 2;
}



.sp {
    width: 210px;
}

#to_menu a {
    text-decoration: none;
    color: #31B404;
}

.verticalRuby {
    writing-mode: tb-rl;
    direction: ltr;
}