/* モーダルコンテンツ */

.modal-content {
    position: fixed;
    display: none;
    z-index: 10;
    width: auto;
    height: auto;
    margin: 0;
    padding: 15px 20px;
    border: 6px solid #04AD57;
    background: #fff;
}

.modal-content p {
    margin: 0;
    padding: 0;
}

.modal-overlay {
    z-index: 9;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-open {
    color: #00f;
}

.modal-open:hover {
    cursor: pointer;
    color: #f00;
}

.modal-close {
    color: #00f;
}

.modal-close:hover {
    cursor: pointer;
    color: #f00;
}
