#container {
    background-image: url(../images/anaumekun_bg.jpg);
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 0 0 #333000;
    width: 100%;
    height: 100%;
    min-width: 480px;
    min-height: 270px;
}

#container3 {
    background-image: url(../images/rakuraku_bg.jpg);
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 0 0 #333000;
    width: 100%;
    height: 100%;
    min-width: 480px;
    min-height: 270px;
}

#anaumekun {
    /* トップボタン */
    position: absolute;
    margin: auto;
    top: 25%;
    right: 0;
    bottom: auto;
    left: 0;
}


/* 以下、モーダルウィンドウ */


/* ログイン用モーダルコンテンツ */

#loginModal {
    width: 300px;
    height: auto;
    text-align: center;
    line-height: 2;
}

#loginModal h1 {
    font-size: 18pt;
    font-weight: bold;
    letter-spacing: 5px;
}

.itemBox {
    margin: 5px auto;
}

.itemName {
    display: inline-block;
    width: 90px;
}

.itemInput {
    width: 140px;
}

.modal-content hr {
    margin: 15px 0;
}