/* workbook用モーダルウィンドウスタイル */

#educationEdit hr,
#saveDataInfo hr,
#alertHozon hr,
#newSave hr,
#upDate hr,
#saveFin hr {
    margin: 10px auto;
}

#eduEditBox1 {
    margin-bottom: 3px;
}

#eduEditBox1 img {
    vertical-align: middle;
}


/*作成画面*/

#educationEdit {
    width: 90%;
    height: 90%;
    padding: 18px 24px;
    min-width: 800px;
    min-height: 300px;
}

#educationEdit .tableBody {
    top: 102px;
}

#educationEdit table {
    width:100%;
}

#questionSortableHead tr {
    height: 30px;
    font-size: 11pt;
}

#questionSortableBody td:nth-child(1) {
    background-color: #909090;
}

.tableBody li:nth-child(2n) td {
    background: #ededed;
}

.tableBody li:nth-child(2n+1) td {
    background: #fff;
}

#questionSortableHead th:nth-child(1),
#questionSortableBody td:nth-child(1) {
    width: 2%;
}

#questionSortableHead th:nth-child(2),
#questionSortableBody td:nth-child(2) {
    width: 8%;
    text-align: center;
}

#questionSortableHead th:nth-child(3),
#questionSortableBody td:nth-child(3) {
    width: 8%;
    text-align: center;
}

#questionSortableHead th:nth-child(4),
#questionSortableBody td:nth-child(4) {
    width: 8%;
    text-align: center;
}

#questionSortableHead th:nth-child(5),
#questionSortableBody td:nth-child(5) {
    width: 8%;
    text-align: center;
}

#questionSortableHead th:nth-child(6),
#questionSortableBody td:nth-child(6) {
    width: 8%;
    text-align: center;
}

#questionSortableHead th:nth-child(7),
#questionSortableBody td:nth-child(7) {
    width: 29%;
}

#questionSortableHead th:nth-child(8),
#questionSortableBody td:nth-child(8) {
    width: 39%;
}


/*保存内容*/

#saveDataInfo {
    text-align: center;
}

#saveDataInfo select,
#saveDataInfo input {
    width: 150px;
}

#saveDataInfo p {
    margin: 4px;
}

#saveDataInfo hr {
    margin: 15px 0px;
}


/* 保存完了 */

#saveFin p {
    width: 180px;
}


/* アラート */

#alertHozon {
    text-align: center;
}