html,
body {
    background-image: url(./../images/back_01.png);
}

.ui-dialog-title {
    color: #00aceb;
}


/*グラデーションはわずかに濃い色から薄い色へ*/

.ui-button {
    background: #3dbbea !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#3dbbea), to(#9ed2f8)) !important;
    background: -webkit-linear-gradient(top, #3dbbea, #9ed2f8) !important;
    background: -moz-linear-gradient(top, #3dbbea, #9ed2f8) !important;
    background: -ms-linear-gradient(top, #3dbbea, #9ed2f8) !important;
    background: -o-linear-gradient(top, #3dbbea, #9ed2f8) !important;
    background: linear-gradient(top, #3dbbea, #9ed2f8) !important;
}


/*マウスオーバー時は薄い背景に濃い文字*/

.ui-button:hover {
    background: #9ed2f8 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#daefff), to(#9ed2f8)) !important;
    background: -webkit-linear-gradient(top, #daefff, #9ed2f8) !important;
    background: -moz-linear-gradient(top, #daefff, #9ed2f8) !important;
    background: -ms-linear-gradient(top, #daefff, #9ed2f8) !important;
    background: -o-linear-gradient(top, #daefff, #9ed2f8) !important;
    background: linear-gradient(top, #daefff, #9ed2f8) !important;
    color: #345bff !important;
}


/*コンテンツ内モーダルウィンドウ共通設定*/

.ui-dialog {
    border: 6px solid #00aceb;
}

/* タブ切り替え */

.boxView {
    display: none;
}

#menuTab {
    height: 27px;
    font-size: 0;
}

.menuTab {
    display: inline-block;
    height: 100%;
    width: 155px;
    padding: 7px 3px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-right: 1px solid #646464;
    border-bottom: 1px solid #646464;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0;
    cursor: pointer;
}

.blueTab {
    background-color: #3b8fe7;
}

.greenTab {
    background-color: #3ba78c;
}

#viewArea {
    /* #menuTabのheight分下げる */
    top: 27px;
}

.tBodyView select {
    width: 100%;
    height: 100%;
    padding-left: 3px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}