select {
    font-size: 4vw;
    margin: 2vw;
    width: 40vw;
}

select * {
    font-size: 4vw;
}

input {
    width: 40vw;
    font-size: 4vw;
}

.buttonStyle {
    width: 40vw;
    font-size: 4vw;
}

#loginButton {
    margin-top: 4vw;
    margin-bottom: 4vw;
}

#container {
    margin-top: 20vh;
}

a {
    font-size: 4vw;
}