#viewArea {
    top: 5px;
}

.contentsButton {
    width: 115px;
}

#pages {
    position: relative;
    top: 1px;
    width: 50px;
    height: 26px;
}

#pagesText {
    position: relative;
    top: 1px;
    vertical-align: middle;
    color: #1a1a1c;
    font-size: 18px;
}

#nextPage,
#prevPage {
    vertical-align: middle;
    cursor: pointer;
}

.anaaki,
.hyperLinkArea {
    cursor: pointer;
}

#viewArea {
    overflow: hidden
}

#boxWrapper {
    overflow: hidden
}

.boxView {
    overflow: hidden
}

#textContents {
    font-size: 30pt;
    text-align: justify;
    box-sizing: border-box;
    min-height: initial;
    min-height: auto;
}

#imageContents_wrapper {
    overflow: scroll;
    position: absolute;
    width: 100%;
    pointer-events: none;
}

#textContents_wrapper {
    overflow: scroll;
    position: absolute;
    width: 100%;
}

.boxView_horizon {
    overflow-y: hidden!important
}

.textContents_wrapper_horizon {
    overflow-y: visible!important;
    overflow-x: hidden!important;
}

.textContents_horizon {
    overflow-x: hidden;
    overflow-y: hidden;
}

.imageContents_wrapper_horizon {
    overflow-y: visible!important;
    overflow-x: hidden!important;
}

.imageContents_horizon {
    overflow-x: hidden
}

.boxView_vertical {
    overflow: hidden!important
}

.textContents_wrapper_vertical {
    overflow: hidden!important;
    overflow-x: hidden!important;
}

.imageContents_wrapper_vertical {
    overflow-y: hidden!important;
    overflow-x: hidden!important;
}

.imageContents_vertical {
    transition: 0s;
    -webkit-transition: 0s;
    -webkit-transform: translate3d(1px, 0px, 10px);
    overflow-x: visible;
}

.textContents_vertical {
    height: 820px;
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    font-family: 'HG教科書体';
    z-index: 0;
    overflow-x: scroll;
    padding: 40px 80px 40px 0!important;
}

.boxView {
    width: 1920px;
    transform-origin: left top;
    position: relative;
    display: inline-block;
}

#textContents,
#imageContents {
    position: absolute;
    left: 0;
    right: 0;
    min-height: 100%;
}

#imageContents {
    padding: 40px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
}

#imageContents div,
#imageContents img {
    pointer-events: initial;
    pointer-events: auto;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

#container {
    min-width: 1366px!important
}

/*編集エリア*/

#imageContents img[name="gazou"],
#imageContents img[name="fusen"] {
    cursor: pointer
}
