.topTextSize {
    font-size:  5vw;
}

.topKoumoku{
    margin-top: 5vh;
}

.koumoku {
    margin-bottom: 5vh;
}

.buttonStyle {
    width: 40vw;
    font-size: 5vw;
}

.contentArea {
    width : 80vw;
    margin: auto;
    background-color: azure;
    border-style: solid;
}

select {
    font-size: 4vw;
    margin: 2vw;
}

select * {
    font-size: 4vw;
}

.kamokuSelect {
    width: 15vw;
}

.hourSelect {
    width: 15vw;
}

.kyouzaiSelect {
    width: 35vw;
    margin-top: 0vw;
}

.pageSelect {
    width: 15vw;
    margin-top: 0vw;
}

.contentKoumoku {
    margin-bottom: 1vh;
}

.spanBasic {
    font-size: 4vw;
}

li * {
    font-size: 3vw;
}

li {
    font-size: 3vw;
}

.breadcrumb > li + li:before {
  content: ">";
}

.backgroundPink {
    background-color: deeppink;
}

img {
    width: 5vw;
    vertical-align: auto;
}





/* カレンダー自体を大きく */
.ui-datepicker {
	
	width: 70vw;
	height: 67vw;
}

/* タイトルと矢印 */
.ui-datepicker .ui-datepicker-header {
	padding: 6px;
	
	font-size: 4vw;

}

/* 曜日 */
.ui-datepicker th {
	padding: 9px 6px;
	
	font-size: 4vw;

}

/* 日付の文字と余白を大きく */
.ui-datepicker td span,
.ui-datepicker td a {
	
	font-size: 4vw;
	text-align: center;

}

/* 選択中 */
.ui-datepicker td a.ui-state-active {
    /*
	color: #fff;
	background: #E71063;
	
	box-shadow: inset 0 0 0 1px #fff;
    */
    
    
}

/* 今日 */
.ui-datepicker td a.ui-state-highlight {
	border: 2px solid #E71063;
}


.ui-datepicker .ui-datepicker-buttonpane button {
	-webkit-appearance: none;
	
	font-size: 4vw;

}

#calender {
    width: 50vw;
}