body {
    background: url(../common/images/hourensou_bg.jpg) center center no-repeat;
    background-size: cover;
}

#topIcon {
    position: absolute;
    margin: auto;
    top: 6%;
    right: auto;
    bottom: auto;
    left: 15%;
    width: 14%;
    cursor: pointer;
}

.itemBox {
    margin: 5px 0 3px;
}

.itemName,
.itemInput {
    display: inline-block;
}

.itemName {
    width: 100px;
    text-align: center;
    font-weight: bold;
}

.itemInput {
    width: 140px;
    padding: 3px 4px;
    border: solid 1px #a8a8a8;
}