html,
body,
div,
ul,
ol,
li,
p {
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
}

html {}

body {}

#container {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../common/images/bg_sky.jpg);
    background-position: left bottom;
    background-repeat: repeat-x;
    background-color: #8fcbff;
}

#container_menu {
    position: absolute;
    width: 1235px;
    height: 617px;
    margin: auto;
    top: 5px;
    right: 0px;
    bottom: auto;
    left: 0px;
    background-image: url(../common/images/binder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#content {
    position: relative;
    height: 100%;
    text-align: center;
}

.midashi {
    font-size: 16pt;
    font-weight: bold;
    color: #ff0000;
}

.midashi rt {
    color: #777;
}


/*title*/

abbr[title] {
    position: relative;
    top: 0;
    left: 0;
}

abbr[title]:hover:before {
    display: block;
    position: absolute;
    top: -6.0em;
    left: 1.0em;
    margin: 0.5em;
    padding: 0.5em;
    border: #fcc979 solid 2px;
    background: #fff;
    color: #ff0000;
    font-size: 20px;
    line-height: 1.2em;
    content: attr(title);
    z-index: 2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}


/*イメージ拡大アクション*/

.zoom img {
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.zoom img:hover {
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
}

#footer {
    text-align: center;
}


/* モーダルコンテンツ */

#modalContents01 {
    width: 300px;
    height: auto;
    text-align: center;
}

.itemBox {
    margin: 5px auto;
}

.itemName {
    display: inline-block;
    width: 100px;
}

.itemInput {
    width: 140px;
}

.modal-content hr {
    margin: 30px 0px;
}

#patient {
    color: #008080;
    font-size: 22pt;
    text-align: center;
    margin: 80px 0px 30px 0px;
}

#btnImg {
    text-align: center;
    margin: 15px;
}

#btnImg2 {
    text-align: center;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 130px;
    margin-bottom: 20px;
}

#btnImg img {
    margin: 0px 1px;
    cursor: pointer;
}

#box_menu {
    font-size: 22pt;
    font-weight: bold;
    letter-spacing: 2px;
    width: 320px;
    margin: 10px auto;
}

#box_menu label {
    cursor: pointer;
}

#box_menu input {
    width: 20px;
    height: 20px;
    margin-right: -3px;
}

#box_menu table {
    line-height: 50px;
}

.bbtn {
    width: 100px !important;
    font-size: 24px !important;
}

#img_logout {
    position: absolute;
    left: 1085px;
    top: 40px;
    width: 105px;
}

.menu_icon {
    display: inline-block;
    position: relative;
    margin: 105px -15px 0;
}

.menu_icon img {
    width: 80%;
}


.menu_icon:nth-of-type(even) {
    top: 220px;
}

#suiei_icon {
    margin:105px -60px 0 -45px;
}

#shuukai *{
    display: inline-block;
}

#mokuhyoTime *{
    display: inline-block;
}

#syukaisouModalContents *{
    display: inline-block;
}

#syukaisouModalContents input{
    width: 50px;
}

#kakuninPane div{
    float: left;
}

.info_c {
	left: 66px; top: 46px; position: absolute;
}
.midashi_c {
	color: rgb(72, 61, 139); font-size: 24pt; font-weight: bold;
}
.menu_icon_c {
	margin: 50px 50px 0px; display: inline-block; position: relative;
}

#syukaisouModalContents * {
    font-size: 30px;
}

.shuukaisouTitle {
    width: 300px;
}

#shuukai {
    margin-top: 20px;
}

.shuukaisouSet {
    margin-bottom: 30px;
}

.ui-dialog-buttonset *{
    font-size: 30px;
}


