#category,
#school,
#grade,
#curriculum,
#unit {
    width: 80px;
}

#share {
    width: 60px;
}

#title {
    width: 220px;
}

.boxView h1 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #32B24F;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

#button_open,
#button_delete {
    margin: 0 0 5px 8px;
}

.tableBody {
    top: 115px;
}


/*テーブル幅設定*/


/*設問の検索*/

.boxView th:nth-of-type(1),
.boxView td:nth-of-type(1) {
    width: 3%;
    text-align: center;
}

.boxView th:nth-of-type(2),
.boxView td:nth-of-type(2) {
    width: 5%;
    text-align: center;
}

.boxView th:nth-of-type(3),
.boxView td:nth-of-type(3) {
    width: 8%;
    text-align: center;
}

.boxView th:nth-of-type(4),
.boxView td:nth-of-type(4) {
    width: 4%;
    text-align: center;
}

.boxView th:nth-of-type(5),
.boxView td:nth-of-type(5) {
    width: 7%;
    text-align: center;
}

.boxView th:nth-of-type(6),
.boxView td:nth-of-type(6) {
    width: 18%;
    text-align: center;
}

.boxView th:nth-of-type(7),
.boxView td:nth-of-type(7) {
    width: 18%;
    text-align: center;
}

.boxView th:nth-of-type(8),
.boxView td:nth-of-type(8) {
    width: 7%;
    text-align: center;
}

.boxView th:nth-of-type(9),
.boxView td:nth-of-type(9) {
    width: 6%;
    text-align: center;
}

.boxView th:nth-of-type(10),
.boxView td:nth-of-type(10) {
    width: 6%;
    text-align: center;
}

.boxView th:nth-of-type(11),
.boxView td:nth-of-type(11) {
    width: 9%;
    text-align: center;
}

.boxView th:nth-of-type(12),
.boxView td:nth-of-type(12) {
    width: 9%;
    text-align: center;
}