
#container {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../common/images/bg_sky.jpg);
    background-position: left bottom;
    background-repeat: repeat-x;
    background-color: #8fcbff;
}

.container_input {
    position: absolute;
    width: 1235px;
    height: 617px;
    margin: auto;
    top: 5px;
    right: 0px;
    bottom: auto;
    left: 0px;
    /*background-image: url(../common/images/binder.png);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.questionPane {
    position: absolute;
    top: 15%;
    left: 3vw;
    right: 3vw;
}

.questionPane * {
    font-size: 2vw;
}

.answerBtn {
    display: block;
    margin: auto;
    width: 30vw;
    font-size: 1.5vw;
    margin-bottom: 2vh;
}

#kakuninPane {
    display: none;
}

.pane {
    margin-left: 7%;
}

.pane div {
    color: #8fcbff;
}

.questionText {
    margin-bottom: 5vh;
}

.kakuninTable *{
    font-size: 1vw;
}

.kakuninTable {
    margin-top: 2vw;
}

.kakuninTable thead *{
    color: white;
    background-color: rgb(91,155,213);
}

#questionKakuninTBody tr:nth-child(2n) {
    background-color:  rgb(210,222,239);
}

#questionKakuninTBody tr:nth-child(2n+1) {
    background-color:  rgb(234,239,247);
}

#questionKakuninTBody tr td:first-child{
    text-align: right;
}