.topTextSize {
    font-size:  5vw;
}

.topKoumoku{
    margin-top: 5vh;
}

.koumoku {
    margin-bottom: 5vh;
}

.buttonStyle {
    width: 70vw;
    font-size: 5vw;
}

.table {
    width: 80%;
    margin: auto;
}

td {
    text-align: center;
    font-size:  4vw;
}

.firstCollum {
    width: 30%;
}

.dataCollum {
    width: 35%;
}

.hyoukaParentPane {
    margin: auto;
    text-align: center;
}

.hyoukaParentPane {
    font-size:  4vw;
}

.stamp {
    width: 80%;
}

#graph {
    margin: auto;
    margin-right: 0px;
    text-align: center;
    width: 80%;
}

.hyoukaContent {
    font-size: 5vw;
    font-weight: bold;
}

li * {
    font-size: 3vw;
}

li {
    font-size: 3vw;
}

.breadcrumb > li + li:before {
  content: ">";
}