.gakunenClassPane {
    margin-top: 1.5vw;
    margin-left: 6vw;
    font-size: 1.5vw;
}

.controlPane {
    margin-top: 1.5vw;
    margin-left: 6vw;
}

#stopWatch {
    font-size: 5vw;
    
    background-color: black;
    color: white;
    margin-right: 5vw;
}

#time {
    width: 5vw;
    text-align:  right;
}

button {
    width: 15vw;
}

#startBtn {
    margin-left: 5vw;
}

#endBtn {
    margin-left: 2vw;
}