/* 更新日：20160603 */


/* リセットCSS */

/*

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}



body {
    line-height: 1;
}

article,
aside,
dialog,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    outline: none;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

button {
    line-height: 1;
}

select,
button {
    cursor: pointer;
}

*/

/*
 *jquery-ui.min.css調整
 *上部リセットCSSによる変更の対応
 *フォント共通化のためjquery-ui.min.cssのfont-familyをコメントアウト
 */

.ui-helper-hidden display,
.ui-helper-hidden-accessible,
.ui-helper-reset,
.ui-helper-clearfix,
.ui-helper-zfix,
.ui-widget,
.ui-widget-header,
.ui-widget-content,
.ui-state-default,
.ui-state-hover,
.ui-state-focus,
.ui-state-active,
.ui-state-highlight,
.ui-state-error,
.ui-state-error-text,
.ui-state-disabled,
.ui-priority-primary,
.ui-priority-secondary,
.ui-icon,
.ui-corner-tl,
.ui-corner-tr,
.ui-corner-bl,
.ui-corner-br,
.ui-corner-top,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-left,
.ui-corner-all,
.ui-widget-overlay,
.ui-widget-shadow {
    border: none;
    box-sizing: content-box;
}

.ui-resizable-n {}

.ui-resizable-e {
    left: auto;
}

.ui-resizable-w {}

.ui-resizable-s {
    top: auto;
}

.ui-resizable-se {
    top: auto;
    left: auto;
}

.ui-resizable-sw {
    top: auto;
}

.ui-resizable-ne {
    left: auto;
}

.ui-resizable-nw {}

.ui-datepicker-next,
.ui-datepicker-next {
    /*datepicker次月・前月の切替ボタン*/
    top: auto;
    left: auto;
}


/*
 *jquery-ui.min.css調整
 *コンテンツ用にスタイル調整
 *admin.cssを先に読み込ませるため調整箇所は「!important」で固定
 */

.ui-widget-overlay {
    /*Overlay色*/
    background: #292929 !important;
    opacity: 0.7 !important;
    filter: Alpha(Opacity=70) !important;
}

.ui-dialog {
    /*Dialogスタイル*/
    padding: 5px 8px !important;
    border-style: solid !important;
    border-width: 6px !important;
}

.ui-dialog-titlebar {
    /*Dialogタイトルバー*/
    background: none !important;
    border: none !important;
    text-align: center!important;
}

.ui-dialog-title {
    /*Dialogタイトル*/
    float: none !important;
    font-size: 30px !important;
    font-weight: bold !important;
}

.ui-dialog-titlebar-close {
    /*Dialogタイトル右Closeボタン*/
    display: none !important;
}

.ui-dialog-buttonpane {
    padding: 5px !important;
}

.ui-dialog-buttonset {
    float: none !important;
    text-align: center !important;
}

.ui-button {
    width: 100px !important;
    height: 30px !important;
    margin: 0.3em 0.5em !important;
    border: none !important;
    box-shadow: #8e8e8e 0 1px 0;
    text-shadow: #8e8e8e 0 1px 0;
    color: #fafafa !important;
    font-weight: bold !important;
}

.ui-button-text {
    padding: .4em 0 .3em !important;
}

.contentsButton:hover,
.ui-button:hover {
    top: 1px;
    box-shadow: #8e8e8e 0 -1px 0;
    text-shadow: none;
}


/* .ui-buttonと合わせるため不足分を追加 */

.contentsButton {
    display: inline-block;
    position: relative;
    width: 85px;
    height: 28px;
    border: none;
    box-shadow: #8e8e8e 0 1px 0;
    text-shadow: #8e8e8e 0 1px 0;
    color: #fafafa !important;
    font-weight: bold !important;
    font-size: 1.03rem;
    text-align: center;
}


/* 共通スタイル */
/*
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
body {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Verdana, 'ＭＳ Ｐゴシック', sans-serif !important;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 15px;
}

body {
    letter-spacing: 1px;
}

*/

/* コンテナ */
/*
#container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    width: 98%;
    height: 100%;
    min-width: 1400px;
    min-height: 400px;
}
*/


/* ヘッダー */
/*
#header {
    position: relative;
    height: 40px;
}



#headerInfo {
    position: absolute;
    display: inline-block;
    margin: auto;
    top: 10px;
    right: 235px;
    bottom: auto;
    left: 14px;
    height: 28px;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
}

#loginInfo {
    margin: 4px 0;
}
*/

/* 共通ボタン「ログアウト」「戻る」「メニュー」 */
/*
#headerButton {
    position: absolute;
    display: inline-block;
    margin: auto;
    top: 10px;
    right: 5px;
    bottom: auto;
    left: auto;
    height: 25px;
}

.headerButton {
    width: 68px;
    padding: 5px 0 4px;
    border: 1px solid #f4f8f5;
    background-color: #d1d5d0;
    color: #1d512d;
    font-size: 11px;
    font-weight: bold;
}

#button_logout {
    background-color: #8b978b;
    color: #f4f4f4;
    text-shadow: 1px 1px 1px #1a1a1a;
}
*/

/* コンテンツ */
/*
#contents {
    position: absolute;
    top: 40px;
    bottom: 15px;
    width: 100%;
    height: auto;
}
*/

/* フッター */
/*
#footer {
    position: absolute;
    top: auto;
    right: 10px;
    bottom: 5px;
    left: auto;
    width: auto;
    color: #e6e6e6;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
}

*/
/* 基本情報 */
/*
#baseInfo {
    position: relative;
    height: 40px;
    padding: 8px 10px 0;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4) inset;
}
*/

/* ユーザー情報 */
/*
#userSchool,
#userGrade,
#userClassroom,
#userName {
    color: #f7f7f7;
    font-size: 15px;
}
*/

/* 表示エリア */
/*
td,
th {
    border: 1px solid #C0C0C0;
}

.boxView {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#viewArea {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 100%;
    border: 4px solid #287AD8;
    background-color: #fff;
}

.boxView table {
    width: 100%;
}

.tableHead {
    background-color: #15b0e8;
    padding-right: 17px;
}

.tableBody {
    position: absolute;
    top: 25px;
    bottom: 0;
    width: 100%;
    overflow-y: scroll;
}

.tHeadView {
    background-color: #03ace9;
    color: #ededed;
}

.tHeadView th {
    padding: 4px 0;
}

.tBodyView tr:nth-child(even) {
    background-color: #e6e6e6;
}

.tBodyView tr:nth-child(odd) {
    background-color: #fff;
}

.tBodyView td {
    vertical-align: middle;
}

*/
/* アラートハイライト */
/*
.alertHighlight {
    background-color: #ffeafa !important;
}
*/

/* 選択付加ハイライト */
/*
.disableHighlight {
    background-color: #dddddd !important;
}
*/

/* 選択行ハイライト */
/*
.selectRow {
    background-color: #def5de !important;
    font-weight: bold !important;
}

*/
/*float*/
/*
.f_right {
    float: right;
}

.f_left {
    float: left;
}
*/

/* モーダルウィンドウは非表示 */
/*
.modal-content {
    display: none;
}
*/

/* モーダルウィンドウ(alertDialog) */
/*
#alertDialog {
    text-align: center;
}
*/