/* 基本スタイル追加・変更 */

html,
body {
    background-image: url(../images/bg_green.jpg);
    background-position: right top;
    background-repeat: repeat-y;
    background-color: #9acd32;
    background-attachment: fixed;
}

#contents {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: auto;
    left: 0px;
    width: 97%;
    height: 100%;
    min-width: 1430px;
}


/*メニュー全体*/

#menu {
    position: relative;
    height: 40px;
}

#menu ul li {
    display: inline;
}

#rubyModal ul li {
    display: inline;
}

#nav1 {
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    font-size: 0;
    height: 30px;
}

#nav1 img {
    display: inline-block;
}

#nav2 {
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 0;
    right: 175px;
    bottom: 0;
    left: auto;
}


#nav2 ul li {
    cursor: pointer;
    width: 45px;
    display: inline-block;
    text-align: center;
}

#charSizeUL li {
    height: 15px;
    width: 30px;
}

#charSizeUL li a{
    font-size: 9pt;
    border-bottom: none;
}

/*基本情報*/

#basicInfo {
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 36px;
    background-color: #FFF;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4) inset;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 9px;
}

#basicInfo div {
    padding: 0 8px 0 5px;
    display: inline;
}

#group {
    width: 70px;
}

#school {
    width: 100px;
}

#grade {
    width: 70px;
}

#curriculum {
    width: 70px;
}

#unit {
    width: 100px;
}

#title {
    width: 220px;
}

#shere {
    width: 70px;
}

#author {
    width: 110px;
}

#quesAuthor {
    width: 110px;
}

#author {
    font-weight: bold;
}


/*作成エリア*/

#questionBox {
    height: 89%;
    border: 4px ridge #31B404;
    background-color: #FFFFFF;
}

#questionArea {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#textContents {
    padding: 60px 80px 0px 80px;
    font-size: 30pt;
    text-align: justify;
    box-sizing: border-box;
    min-width: 100%;
    min-height: 100%;
    /* IMEの設定（IEのみ） */
    ime-mode: active;
}

.verticalWriting#questionArea {
    direction: rtl;
    overflow-y: hidden;
}

/*
.verticalWriting#textContents {
    writing-mode: tb-rl;
    font-family: 'HG教科書体';
    overflow-y: hidden;
    z-index: 0;
}
*/

.verticalWriting#textContents {
    writing-mode: tb-rl;
    font-family: 'HG教科書体';
    z-index: 0;
}

/*
#imageContents {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: auto;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
}
*/

.verticalWriting#imageContents {
    transform: translate(100%, 0px);
}

#textContents .hyperLinkArea,
#textContents .fileLink {
    color: blue;
    border-bottom: 1px solid blue;
}

#imageContents .hyperLinkArea {
    border: 1px solid blue;
}

#imageContents .ui-wrapper img { 
    border: 2px solid #393939 !important 
}

#fusenContents .selectedFusen {
    border: 1px solid #393939;
}

#fusenContents img{
    background-color: transparent;
}

#fusenContents .ui-wrapper{
    overflow: visible !important
}

.anaaki {
    border: 1px solid #008000;
}

.anaInvisible {
    color: rgba(0, 0, 0, 0);
}

.anaVisible {
    color: #ff0000;
}

#textContents {
    position: absolute;
    z-index: 2;
}

/*
#imageContents * {
    position: relative;
    z-index: 3;
}

#audioContents * {
    position: relative;
    z-index: 3;
}

#fusenContents * {
    position: relative;
    z-index: 4
}
*/

#rubyContents * {
    z-index: 3;
}

#imageContents * {
    z-index: 3;
}

#audioContents * {
    z-index: 3;
}

#fusenContents * {
    z-index: 4
}

#headImg {
    position: absolute;
    margin: auto;
    top: 0;
    right: 10px;
    bottom: 0;
    left: auto;
    display: inline-block;
    height: 24px;
    font-size: 0;
}

#headImg img {
    margin: 0 1px;
}

#printImg {
    border: 1px solid #31B404;
}


/*編集画面*/

#print_guideline {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

#previewImage {
    position: relative;
    margin: 0 auto;
}


/*印刷プレビュー画面*/

#printLine {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
}


/*印刷範囲色・枠線指定*/

#print_guideline,
#printLine {
    background-color: #3578b9;
    border: 4px solid #020115;
}

.setPrintline {
    float: left;
    width: 60px;
    height: 16px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 3px 0 3px;
    color: #fff;
    background-color: #49a9d4;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 3px;
    box-shadow: 2px 2px #555;
    border: 1px solid #49a9d4;
}

.setPrintline:hover {
    background: tomato;
    border: 1px solid tomato;
    cursor: pointer;
}

.verticalRuby {
    writing-mode: tb-rl;
    direction: ltr;
}