#shukaisouStartButton {
    background-color: aqua;
    
}

#shukaisouWrapButton {
    background-color: green;
}

#shukaisouEndButton {
    background-color: orange;
}

.shukaisouStartButtonClassName{
    width: 500px;
    height: 125px;
    font-size: 40px;
    margin-bottom: 30px;
}


#stopwatchDisplay{
    float: left;
    width: 500px;
    text-align: center;
    font-size: 40px;
    
}

#stopwatchDisplay * {
    
    
}

#graph {
    margin-left: -8px;
    float: left;
}

.tableHeader{
    border: medium solid black;
    width: 90px;
    font-size: 20px;
}

.tableHeaderBlink{
    border: medium solid black;
    width: 90px;
    font-size: 20px;
    background-color: red;
    color: white;
}

.mokuhyoText {
    height: 200px;
    float: left;
}

.mokuhyoWrapText {
    float: left;
}

.mokuhyoTimeText {
    float: left;
}

.wrapPane {
    clear: both;
}

.wrapText {
    float: left;
}

.wrapTable {
    float: left;
}

.wrapAverageHeader {
    float: left;
}

.TimeText {
    float: left;
    clear: both;
}

.timeTable {
    float: left;
}

.timeSumHeader {
    float: left;
}

.headerCommon {
    background-color: darkgray;
    width: 75px;
}



.tableCommonWidth {
    width: 90px;
}

.tableCommonHeight{
    height: 80px;
}

.floatLeftCommon{
    float: left;
}


.topLeftHeader{
    border: none;
    width: 90px;
}

.recordData{
    border: medium solid black;
    font-size: 20px;
    text-align: right;
    margin: auto;
}