body {
    background: url(../common/images/mekurin_bg.jpg) center center no-repeat;
    background-size: cover;
}

#menu {
    position: absolute;
    bottom: auto;
    margin: auto;
    top: 5%;
    left: 0;
    right: 0;
    width: 648px;
    height: 600px;
    background: url(../common/images/mekurin_menu.png) center center no-repeat;
}

#menu ul {
    position: absolute;
    margin: auto;
    top: 38%;
    left: 32%;
    font-size: 30pt;
    font-weight: bold;
}

#menu li {
    margin-bottom: 14px;
    list-style-type: none;
    list-style-image: url("../common/images/mark.png");
}

#menu a {
    color: #1a9a81;
    text-decoration: none;
}

#menu a:hover {
    position: relative;
    left: 1px;
    top: 1px;
    color: #f24343;
}