#header {
    height: 80px;
}

#contents {
    position: absolute;
    top: 80px;
    bottom: 15px;
    width: 100%;
    height: auto;
}

#loginInfo {
    margin: 4px 0;
}

#year,
#month,
#day,
#group,
#school {
    width: 80px;
}

#menuButton {
    position: absolute;
    left: 1100px;
    top: 2px;
}


/*業務報告スタイル*/

#reportTabView .tableHead {
    padding-right: 0;
}

#reportTabView .tableBody {
    overflow-y: visible;
}

#reportTabView th:nth-child(1),
#reportTabView td:nth-child(1) {
    width: 10%;
    text-align: center;
}

#reportTabView th:nth-child(2),
#reportTabView td:nth-child(2) {
    width: 10%;
}

#reportTabView th:nth-child(3),
#reportTabView td:nth-child(3) {
    width: 10%;
}

#reportTabView th:nth-child(4),
#reportTabView td:nth-child(4) {
    width: 13%;
}

#reportTabView th:nth-child(5),
#reportTabView td:nth-child(5) {
    width: 8%;
}

#reportTabView th:nth-child(6),
#reportTabView td:nth-child(6) {
    width: 8%;
}

#reportTabView th:nth-child(7),
#reportTabView td:nth-child(7) {
    width: 8%;
}

#reportTabView th:nth-child(8),
#reportTabView td:nth-child(8) {
    width: 15%;
}