body {
    background: url(../common/images/tamatebako_bg.jpg) center center no-repeat;
    background-size: cover;
}

#menu {
    position: absolute;
    top: 12%;
    left: 10%;
    width: 622px;
    height: 318px;
    background: url(../common/images/tamatebako_menu.png) center center no-repeat;
}

#menu ul {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 45px;
    width: 250px;
    height: 200px;
    font-size: 40px;
    font-weight: bold;
}

#menu li {
    margin-bottom: 16px;
    list-style-type: none;
    list-style-image: url("../common/images/mark.png");
}

#menu a {
    color: #1a419a;
}

#menu a:hover {
    position: relative;
    left: 1px;
    top: 1px;
    color: #f24343;
}