#imageContents .ui-helper-hidden display,
#imageContents .ui-helper-hidden-accessible,
#imageContents .ui-helper-reset,
#imageContents .ui-helper-clearfix,
#imageContents .ui-helper-zfix,
#imageContents .ui-widget,
#imageContents .ui-widget-header,
#imageContents .ui-widget-content,
#imageContents .ui-state-default,
#imageContents .ui-state-hover,
#imageContents .ui-state-focus,
#imageContents .ui-state-active,
#imageContents .ui-state-highlight,
#imageContents .ui-state-error,
#imageContents .ui-state-error-text,
#imageContents .ui-state-disabled,
#imageContents .ui-priority-primary,
#imageContents .ui-priority-secondary,
#imageContents .ui-icon,
#imageContents .ui-corner-tl,
#imageContents .ui-corner-tr,
#imageContents .ui-corner-bl,
#imageContents .ui-corner-br,
#imageContents .ui-corner-top,
#imageContents .ui-corner-bottom,
#imageContents .ui-corner-right,
#imageContents .ui-corner-left,
#imageContents .ui-corner-all,
#imageContents .ui-widget-overlay,
#imageContents .ui-widget-shadow {
    border: initial!important;
    border::auto!important;
    box-sizing: initial!important;
    box-sizing: auto!important;
}

}
#imageContents .ui-draggable { text-align: center }
#imageContents .ui-wrapper img { border: 2px solid #393939 !important }
/*question*/
#nav {
    position: absolute;
    display: inline-block;
    width: 550px;
    right: 0;
}
#nav li { display: inline-block }
#viewArea { overflow: hidden }
#boxWrapper { overflow: hidden }
.boxView { overflow: hidden }
#textContents {
    font-size: 30pt;
    text-align: justify;
    box-sizing: border-box;
    ime-mode: active;
    min-height: initial;
        min-height: auto;
}
#imageContents_wrapper {
    overflow: scroll;
    position: absolute;
    width: 100%;
    pointer-events: none;
}
#textContents_wrapper {
    overflow: scroll;
    position: absolute;
    width: 100%;
}
.boxView_horizon { overflow-y: hidden!important }
.textContents_wrapper_horizon {
    overflow-y: visible!important;
    overflow-x: hidden!important;
}
.textContents_horizon {
    overflow-x: hidden;
    overflow-y: hidden;
}
.imageContents_wrapper_horizon {
    overflow-y: visible!important;
    overflow-x: hidden!important;
}
.imageContents_horizon { overflow-x: hidden }
.boxView_vertical { overflow: hidden!important }
.textContents_wrapper_vertical {
    overflow: hidden!important;
    overflow-x: hidden!important;
}
.imageContents_wrapper_vertical {
    overflow-y: hidden!important;
    overflow-x: hidden!important;
}
.imageContents_vertical {
    transition: 0s;
    -webkit-transition: 0s;
    -webkit-transform: translate3d(1px, 0px, 10px);
    overflow-x: visible;
}
.textContents_vertical {
    height: 820px;
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    font-family: 'HG教科書体';
    z-index: 0;
    overflow-x: scroll;
    padding: 40px 80px 40px 0!important;
}
.boxView {
    width: 1920px;
    transform-origin: left top;
    position: relative;
    display: inline-block;
}
#textContents,
#imageContents {
    position: absolute;
    left: 0;
    right: 0;
    min-height: 100%;
}
#imageContents {
    padding: 40px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
}
#imageContents div,
#imageContents img {
pointer-events: initial;
pointer-events: auto;
}
#imageContents .ui-draggable { text-align: center }
#nav ul li {
    cursor: pointer;
    width: 45px;
    display: inline-block!important;
    text-align: center;
}
#headerInfo { font-size: 0 }
#headerInfo ul li { display: inline }
#baseInfo { padding-top: 13px }
.droppy { background-color: transparent }
.droppy ul { width: 85px }
.ctrlButton {
    padding: 0;
    width: 80px;
    height: 25px;
    font-size: 0.9rem;
    vertical-align: top;
    border-right: solid 1px #448144;
}
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}
#container { min-width: 1366px!important }
#category,
#school,
#grade,
#curriculum,
#unit { width: 80px }
#share { width: 60px }
#title { width: 220px }
.infoItem {
    display: inline-block;
    width: 35%;
    text-align: center;
    line-height: 1.7;
}
/*編集エリア*/
#imageContents img[name="gazou"],
#imageContents img[name="fusen"] { cursor: pointer }
#headerInfo { font-size: 0 }
.ctrlButton {
    padding: 0;
    width: 80px;
    height: 25px;
    font-size: 0.9rem;
    vertical-align: top;
}

/*付箋画像を透過画像にして，下記CSSを適用すると，CSSの付箋が使える*/
#imageContents .ui-widget-content.fusen_on{

    position: relative;
    background:#f0f0f0 url('css_husen_sample02.gif') repeat-y right!important;
    -moz-box-shadow: 0 5px 5px #999; /* Firefox */
    -webkit-box-shadow: 0 5px 5px #999; /* Safari and Chrome */
    box-shadow: 0 5px 5px #999;
}
#imageContents .ui-widget-content.fusen_off{
    position: relative;
    background:rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 5px #999; /* Firefox */
    -webkit-box-shadow: 0 5px 5px #999; /* Safari and Chrome */
    box-shadow: 0 5px 5px #999;
}
